snakemake =7.18.2
fastqc =0.11.9
bwa =0.7.17
umi_tools =1.1.2
bedtools
samtools
cutadapt =3.5
deeptools =3.5.1
subread =2.0.1
gffutils =0.11.1
macs2 =2.2.7.1
r-data.table =1.14.2
r-ggplot2 =3.3.5
bioconductor-edger
pigz
ipython
